{% extends 'layouts/base.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}
    <div class="card my-4">
        <div class="card-header">
            <h2 class="card-title">Perfil ☢️🔥🛩️{{ item.nombre }}🛩️🔥☢️</h2>
        </div>
        <div class="card-body">
            <p class="card-text"><strong>Nombre:</strong> {{ item.nombre }}</p>
            <p class="card-text"><strong>Description:</strong> {{ item.descripcion }}</p>
            <p class="card-text"><strong>Price:</strong> {{ item.precio }}€</p>
            <a href="{% url 'item_update' item.id %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'item_confirm_delete' item.id %}" class="btn btn-danger">Borrar</a>
            <a href="{% url 'item_list' %}" class="btn btn-secondary">Volver a la lista</a>
        </div>
    </div>
{% endblock %}
