{% extends 'layouts/base.html' %}

{% block title %}Lista Item{% endblock %}

{% block content %}
    <h1 class="my-4">Items</h1>
    <a href="{% url 'item_create' %}" class="btn btn-primary mb-3">Crear nuevo item</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td><a href="{% url 'item_detail' item.id %}">{{ item.nombre }}</a></td>
                    <td>{{ item.descripcion }}</td>
                    <td>{{ item.precio }}€</td>
                    <td>
                        <a href="{% url 'item_update' item.id %}" class="btn btn-secondary btn-sm">Editar</a>
                        <form action="{% url 'item_confirm_delete' item.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Borrar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
